body{
  font-family: helvetica;
}

#forkme{
  display: block;
  width: 25%;
  margin: auto;
  color: #36B1D9;
  text-align: center;
}

a:link {
    text-decoration: none;
    color: #36B1D9;
}

a:hover {
    text-decoration: none;
    color: #1E5669;
}

a:visited {
    text-decoration: none;
    color: #36B1D9;
}

a:active{
  text-decoration: none;
  color: #36B1D9;
}

#holder{
  display: block;
  width: 400px;
  margin: auto;
  margin-top: 10%;
  background-color: #36B1D9;
  color: white;
  padding: 1%;
  box-shadow: 0 0 5px 2px hsla(228, 90%, 0%, 0.35);
}

#portrait{
  display: block;
  width: 90%;
  margin: auto;
}

#name_field{
  font-size: 20pt;
}
/*
#buttonholder{
  display: block;
  width: 25%;
  margin: auto;
}

#generate{
  display: block;
  width: 25%;
  margin: auto;
  margin-top: 3%;
  background-color: #36B1D9;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 0 5px 2px hsla(228, 90%, 0%, 0.35);
}
*/
